.idea/
*.iml
out/
target/

# Arquivos temporários do Maven
/.mvn/
/mvnw
/mvnw.cmd

# Arquivos temporários do sistema operacional
*.DS_Store
Thumbs.db

# Arquivos compilados
*.class

# Arquivos de configuração específicos do ambiente local
application-local.properties
application-dev.properties
application-prod.properties

# Logs
*.log

# Arquivos específicos do IntelliJ IDEA
*.iws
*.ipr

# Arquivos gerados pelo Eclipse
.classpath
.project
.settings/

# Arquivos gerados pelo NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/

# Arquivos gerados pelo VS Code
.vscode/

# Dependências
/lib

# Arquivos de documentação gerados
/apidocs

# Arquivos de teste gerados
/test-output

# Arquivos de código de byte
*.jar
*.war
*.ear

# Arquivos de backup
*~
*.bak

# Arquivos temporários do editor
*.swp
*.swo

# Repositório local do Maven
.repository/


hs_err_pid*
replay_pid*